@use '../util/variables' as v;

.matrimonio-gallery-blocco {
  max-width: 1158px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.matrimonio-gallery-blocco .gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}

.matrimonio-gallery-blocco .gallery-item.large {
  grid-column: span 2;
}

@media (max-width: 768px) {
  .matrimonio-gallery-blocco {
    grid-template-columns: 1fr; /* Su mobile una colonna */
    padding: 10px;
  }
  .matrimonio-gallery-blocco .gallery-item.large {
    grid-column: unset;
  }
}